.buttonContainer{
    width: 100%;
}

button{
    width: 100%;
    border: 1px solid #FFF;
    border-radius: 5px;
    color: #FFF;
    background: linear-gradient(0deg, rgb(116, 12, 142) 0%, rgb(162, 117, 160) 100%);
}